<section class="section-article">
    <article>
        <h2>Qu'est-ce que l'escalade ?</h2>
        <div class="hover">
            <p>L'escalade est un sport qui consiste à gravir des parois verticales, des blocs rocheux ou des montagnes
                en
                utilisant uniquement la force de ses bras, de ses jambes et de son corps. C'est un défi qui requiert à
                la
                fois force, souplesse, équilibre et coordination.</p>
            <img class="img-article" src="/img/bras-grimpeur-escalade.jpg" alt="image article 1">
        </div>
    </article>
    <article>
        <h2>Les différents types d'escalade</h2>
        <div class="hover">
            <div>
                <p>Escalade en salle : Pratiquée dans des centres d'escalade spécialement conçus, l'escalade en salle
                    offre
                    des
                    parois artificielles variées avec des prises de différentes formes et couleurs. C'est un
                    environnement
                    contrôlé et sécurisé, idéal pour les débutants et les entraînements réguliers.</p>
                <img class="img-article" src="/img/mur-escalade-interieur.jpg" alt="image article 2.1">
            </div>
            <div>
                <P>Escalade en rocher : Cette forme d'escalade se déroule en plein air, où les grimpeurs utilisent les
                    formations rocheuses naturelles comme terrain de jeu. Les itinéraires peuvent varier en termes de
                    difficulté
                    et de paysages, offrant une expérience plus proche de la nature et une plus grande diversité de
                    défis.
                </P>
                <img class="img-article" src="/img/grimpeur-mur-escarpe.jpg" alt="image article 2.2">
            </div>
        </div>
    </article>
    <article>
        <h2>Les bénéfices de l'escalade :</h2>
        <div class="hover">
            <ul>
                <li>Renforcement musculaire : L'escalade sollicite les muscles du haut du corps, des bras, des épaules,
                    des
                    jambes et du tronc, ce qui permet un renforcement global de la musculature.</li>
                <li>Développement de la concentration : L'escalade nécessite une concentration intense pour planifier
                    les
                    mouvements, analyser les prises et prendre des décisions rapides.</li>
                <li>Amélioration de la souplesse et de l'équilibre : L'escalade nécessite des mouvements précis et
                    fluides,
                    ce qui favorise le développement de la souplesse et de l'équilibre corporel.</li>
                <li>Gestion du stress : L'escalade offre une opportunité de se surpasser, de relever des défis et de
                    repousser ses limites, ce qui peut contribuer à la gestion du stress et à la construction de la
                    confiance en soi.</li>
            </ul>
            <img class="img-article" src="/img/grimpeur-mur-escalade.jpg" alt="image article 3">
        </div>
    </article>
    <article>
        <h2>La sécurité en escalade.</h2>
        <div class="hover">
            <p>L'escalade est un sport qui demande une attention particulière à la sécurité. L'utilisation de matériel
                approprié, comme les baudriers, les cordes et les systèmes d'assurage, ainsi que le respect des règles
                de
                sécurité, sont essentiels pour prévenir les accidents.</p>
            <img class="img-article" src="/img/img-securite.jpg" alt="image article 4">
        </div>
    </article>
    <article>
        <h2>La communauté de l'escalade :</h2>
        <div class="hover">
            <p>L'escalade est également un moyen de rencontrer de nouvelles personnes partageant la même passion. La
                communauté de l'escalade est généralement ouverte, chaleureuse et encourageante, offrant un
                environnement
                propice à l'apprentissage, à l'échange d'expériences et à la progression.</p>
            <img class="img-article" src="/img/communauté.jpg" alt="image article 5">
        </div>
    </article>
    <article>
        <h2>Résumé</h2>
        <div class="hover">
            <p>En résumé, l'escalade est un sport qui allie force physique, agilité mentale et communion avec la nature.
                Que
                vous cherchiez à vous entraîner en salle ou à vous aventurer dans des parois rocheuses en plein air,
                l'escalade offre une expérience unique, des défis constants et des bénéfices tant sur le plan physique
                que
                mental.</p>
        </div>
    </article>
</section>
<section class="display-article">
    <ul>
        <% for(let i=0; i < posts.length; i++) { %>
            <li data-id="<%=posts[i].id%>">
                <a href="/article/<%=posts[i].auteur_id%>">
                    <h3>
                        <%=posts[i].title%>
                    </h3>
                </a>
                <p>
                    <%=posts[i].content.substring(0, 50)%> ...
                </p>
                <p>Auteur : <%=posts[i].name%>
                </p>
            </li>
            <% } %>
    </ul>
    <a href="/add_post">Ajouter un article</a>
</section>