<h1>Page Boutique</h1>
<section>
    <article>
        <a href="/add_bucket/">Afficher le panier</a>
    </article>

</section>
<section>
    <article>
        <%for(let i = 0; i < products.length; i++) {%>
        <div class="product" data-id="<%=products[i].id%>">
				<h3><%=products[i].name%></h3>
				<p><%=products[i].description%></p>
                <p><%=products[i].price%> €</p>
				<img src="<%= products[i].img_path %>">
                <form method="post" action="/add_bucket/<%=products[i].id%>">
                <select name="quantity">
                    <option value="0">Selectionner la quantité</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Ajouter au panier">
            </form>
        </div>
        <%}%>
    </article>
</section>
<script src="/js/index.js"></script>